<%= form_with(model: poll, local: true) do |form| %>
  <% if poll.errors.any? %>
    <div class="error-explanation">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class = 'form'>
    <div class="form__field">
      <%= form.label :title, 'Question:' %>
      <%= form.text_field :title, id: :poll_title, required:true%>
    </div>

    <div class = "form__field">
      <%= form.label :options, 'Options:' %>
      <div id="poll_options">
        <%= render 'poll_option' %>
        <%= render 'poll_option' %>
        <%= render 'poll_option' %>
      </div>
    </div>

    <button type='button' id="addNewOption" class = 'btn'>Add New Option</button>

    <div class="form__field">
      <%= form.label :blind , 'Anonymous?'%>
      <%= form.check_box :blind, id: :poll_blind %>
    </div>



    <div>
      <%= form.submit %>
    </div>
  </div>



<% end %>

<div style="display: none;" id="new_option_form">
    <%= render partial: "poll_option", locals: {poll: false} %>
</div>

<script>
  document.getElementById('addNewOption').addEventListener('click', function() {
    $("#poll_options").append($("#new_option_form").html())
  });
</script>
