<p id="notice"><%= notice %></p>

<h1>
  <%= @poll.title %>
</h1>




<% if @poll.blind %>
  <p> (This poll is anonymous.) </p>
<% else %>
  <p> (This poll is not anonymous.) </p>
<% end %>


<%= form_with(local: true) do |form| %>
  <div class = 'form'>

    <% unless @poll.blind %>
      <div class="form__field">
        <%= form.label :name, 'Name:' %>
        <%= form.text_field :name, id: :ballot_name, required:true %>
      </div>
    <% end %>

    <% @poll.options.each do |option| %>
        <div id = 'Rank' class = 'form__field'>
            <%= form.label :rank_score, option.name%><%= %>
            <%= form.select option.name + '_score', options_for_select((1..@poll.options.count)) %>
        </div>
    <%end%>

    <button>Vote</button>
  </div>
<% end %>

<br><br>



<strong> Number of votes submitted: </strong>

<%= @poll.ballots.count %>

<br><br>

<strong> Result (Instant-runoff) </strong>

<br><br>

<%= @winner.inspect %>

<br><br>

<% unless @poll.blind %>
  <strong> Participants: </strong>

  <br><br>

  <table>
    <tr>
      <th></th>
        <% @poll.options.each do |option| %>
          <th>
            <%= option.name %>
          </th>
        <% end %>
    </tr>

    <% @poll.ballots.each do |ballot| %>
      <tr>
        <th> <%= ballot.name %> </th>
        <% ballot.ranks.each do |rank| %>
          <td> <%= rank.score %> </td>
        <% end %>
      </tr>
    <% end %>
  </table>


<% end %>
